*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;

}

.screen{
    background: #fff;
    border: 0.5px solid black;
    margin-right: 3rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    width: 600px;
    height: 450px;

}

.fim{
    background: #fff;
    border: 0.5px solid black;
    margin-right: 3rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    width: 600px;
    height: 450px;
    text-align: center;
    font-size: 1.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen h1{
    text-align: center;
    margin-bottom: 2rem; 
}

.screen form{
    display: flex;
    justify-content: center;
}

.screen form input:first-child{
    margin-right: .8rem;
}

/* 1 rem = 16px (nem sempre, maioria dos navegadores mexem na extensão)

*/

.screen form input{
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 2rem;
}

.screen .candidate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    align-content: center;
}

.screen .candidate img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
}

.screen .candidate h2{
    margin-bottom: .8rem;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: #070606;
    padding: 4rem;
    border-radius: 0.3rem;
}

.keyboard{
    display: flex;
    justify-content: center;
}

.keyboard .numbers{
    display: grid;
    grid-template-columns: 4rem 4rem 4rem;
    gap: 1rem;
}

.keyboard .numbers button{
    width: 4rem;
    height: 3rem;
    font-size: 1.5rem;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.keyboard .numbers button:active {
    background-color: #000000;
    transform: translateY(4px);
  }

.keyboard .numbers button:last-child{
    justify-self: center;
    grid-column-start: span 3;
}

.buttons{
    display: flex;
    align-items: flex-end;
    text-align: left;
}

.buttons .white:hover{
    background-color: rgba(255, 255, 255, 0.70);
}

.buttons .reset:hover{
    background-color: rgba(247, 146, 46, 0.70);
}

.buttons .submit:hover{
    background-color: rgba(24, 173, 24, 0.70);
}

.buttons button{
    margin-top: 1rem;
    padding: 0.8rem;
    transition: 500ms;
    cursor: pointer;
    
}

.buttons button:active{
    transform: translateY(4px);
}


.buttons .white{
    background-color: rgb(255, 255, 255);
}

.buttons .reset{
    background-color: rgb(247, 146, 46);
    margin: 0 1rem;

}

.buttons .submit{
    background-color: rgb(24, 173, 24);
    padding: 1.2rem .8rem;
}

button{
    -webkit-box-shadow: 4px 2px 0px 2px rgba(75, 73, 73, 0.14); 
    box-shadow: 4px 2px 0px 2px rgba(75, 73, 73, 0.14);
    border: none;
    border-radius: .1rem;
    border: none;
}


input[type=number]::-webkit-inner-spin-button {      -webkit-appearance: none;      }